
  .my-dropdown .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }
  .col-name {
    width: 210px; /* 원하는 너비로 조정 */
  }
  
  .col-quantity {
    width: 100px; /* 원하는 너비로 조정 */
  }
  
  .col-actions {
    width: 80px; /* 원하는 너비로 조정 */
  }

  