
.sections-container {
  display: flex;
  padding: 20px;
  flex-flow: row wrap;
  justify-content: center;
  }

.calculator-section {
  min-width: 500px;
  /* flex: 1; */
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 50%) {

  .calculator-section {
    min-width: 700px;
    /* flex: 1; */
    padding: 10px;
    min-width: auto;
  }
}